<div class="panel panel-default" ng-init="collapse = false">
	<div class="panel-heading" ng-click="collapse = !collapse" style="cursor: pointer;">
		<h3 class="panel-title"><a>{{field.label}}</a></h3>
	</div>
	<div class="panel-body" ng-show="collapse">
		<div class="panel panel-default">
			<div class="panel-body">
				<xvnew></xvnew>
				<hr>
				<button class="btn btn-success" type="button" ng-click="add()">Add {{field.label}}</button>
			</div>
		</div>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="(key, item) in model.model">{{item | json}}>
				<button class="btn btn-danger" type="button" ng-click="remove(key)">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</li>
		</ul>
	</div>
</div>